@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400&subset=korean');

$ink: rgba(36,30,32,0.9);
$paper: white;
$red: rgba(161,34,0,0.8);

$sans-serif: 'Nanum Gothic', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@mixin sans-serif {
  font-family: $sans-serif;
  font-weight: 400;
}

$base-font-size: 24px;

html {
  @include sans-serif;
  line-height: 1.5;
  font-size: $base-font-size;

  color: $ink;
  background-color: $paper;
}

h1 {
  @include sans-serif;
}

a {
  text-decoration: none;
  color: rgba(161,34,0,0.8);
}

@media all and (max-width: 575px) {
  html {
    font-size: $base-font-size * 0.70;
  }
}

img {
  width: 100%;
}

@mixin clearfix {
  zoom: 1;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

section.text {
  padding: 0.75em 1em;
  max-width: 27rem;
  margin-left: auto;
  margin-right: auto;

  footer {
    margin-top: 3em;
    margin-bottom: 1em;
    @include clearfix;

    & > * {
      float: right;
      &:first-child {
        float :left;
      }
    }
  }
}

@mixin center_container {
  text-align: center;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }

  & > * {
    display: inline-block;
    vertical-align: middle;
  }
}

.swiper-container {
  height: 66.6666667vw;
  max-height: 100vh;
  background-color: black;

  .text-slide {
    color: white;
    font-size: $base-font-size * 1.5;
    @include center_container;
  }

  img {
    max-width: 133.33333333333vh;
    max-height: 100vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}